<html>
  <head>
    <title>Push0ver Global Configuration</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
  </head>
  <body>
    <form id="admin" class="aui" action="" method="POST">
      <h1>Push0ver Global Configuration</h1>
      <div class="field-group">
        <label for="username">Artifactory Username</label>
        <input type="text" id="username" name="username" value=$username class="text">
      </div>
      <div class="field-group">
        <label for="password">Artifactory Password</label>
        <input type="text" id="password" name="password" value=$password class="text">
      </div>
      <div class="field-group">
        <label for="url">Artifactory URL</label>
        <input type="text" id="url" name="url" value=$url class="text">
      </div>
      <div class="field-group">
        <label for="releaserepo">Artifactory RepoName - RELEASE</label>
        <input type="text" id="releaserepo" name="releaserepo" value=$releaserepo class="text">
      </div>
      <div class="field-group">
        <label for="snaprepo">Artifactory RepoName - SNAPSHOT</label>
        <input type="text" id="snaprepo" name="snaprepo" value=$snaprepo class="text">
      </div>
        <div class="field-group">
            <label for="noderepo">Artifactory NPM Repo</label>
            <input type="text" id="noderepo" name="noderepo" value=$noderepo class="text">
        </div>
      <div class="field-group">
        <input type="checkbox" name="globalclient" value=$globalclient> Allow Unsecured Connections<br>
      </div>
      <div class="field-group">
        <input type="submit" value="Save" class="button">
      </div>
    </form>
  </body>
</html>
